version: 2
updates:
  - package-ecosystem: "swift"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
        semver-major-days: 30
        semver-minor-days: 7
        semver-patch-days: 3
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
        semver-major-days: 30
        semver-minor-days: 7
        semver-patch-days: 3
