name: CI

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    container: swift:latest
    steps:
    - uses: actions/checkout@v4
    - run: swift build
  lint:
    runs-on: ubuntu-latest
    container: swift:latest
    steps:
      - uses: actions/checkout@v4
      - run: swift format lint -r -p -s .
